beautifulsoup4==4.6.0
Django==1.11.6
django-app-namespace-template-loader==0.4.1
django-appconf==1.0.2
django-blog-zinnia==0.19
django-ckeditor==5.3.1
django-contrib-comments==1.8.0
django-js-asset==0.1.1
django-model-utils==3.0.0
django-mptt==0.8.7
django-tagging==0.4.6
django-uploader==0.2.1
django-users2==0.2.1
django-xmlrpc==0.1.8
DjangoUeditor==1.8.143
Markdown==2.6.9
mots-vides==2015.5.11
olefile==0.44
Pillow==4.3.0
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
regex==2017.9.23
six==1.11.0
zinnia-theme-bootstrap==0.5.2
zinnia-wysiwyg-ckeditor==1.3
